/*
Name : Skull Web Prototype
Version : 1.0.0
Author : Noémie Kerroux
Website: http://noemiekerroux.fr/
Gitlab : https://gitlab.com/noemie-kerroux/skull-web-prototype
*/

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}
.content {
    width: calc(100% - 40px);
    max-width: 1280px;
    margin: 0px auto;
}
.lineclear {
    width: 100%;
    display: block;
    float: none;
    clear: both;
}

header, footer {
    padding: 20px 0px;
}

.large-section {
    padding: 100px 0px;
}
header .sitename {
    float: left;
    display: flex;
    align-items: center;
}
header .navigation {
    float: right;
    display: block;
}
header .burger-menu {
    float: right;
    display: none;
    padding: 10px;
    font-size: 0px;
    line-height: 0px;
    cursor: pointer;
}
header .burger-menu img {
    width: 30px;
    height: 30px;
}
header .sitename .logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
header ul,
footer ul {
    padding: 0px;
    margin: 0px;
}
header ul li,
footer ul li {
    list-style: none;
    margin-right: 20px;
    display: inline-block;
}
header ul li a,
footer ul li a {
    padding: 10px;
    display: block;
}
header ul li:last-child,
footer ul li:last-child {
    margin-right: 0px;
}


@media screen and (max-width: 1279px) {
    header .navigation {
        display: none;
    }
    header .navigation.open {
        display: block;
        float: none;
        clear: both;
    }
    header .burger-menu {
        display: block;
    }
    header nav ul {
        padding-top: 20px;
    }
    header ul li,
    header ul li a {
        display: block;
        width: 100%;
    }
}
